@media only screen and (max-width:970px){
    /* .about{
        min-height: 700px;
    } */

    .about-left,.about-right{
        max-width: 400px;
    }
    .about-text-area, .about-text-area-Details, .about-text-area-project{
        max-width: 350px;
    }
    .about-left-text-area{
        max-width: fit-content;
    }
    .experince-both-box{
        max-width: 400px;
        min-height: 550px;
    }

    .education-both-box{
        max-width: 400px;
    }

    .project-box{
        min-height: 440px;
    }

    .p-box{
        max-width: 200px; 
        min-height: 380px; 
    }
    .p-box > .image img {
        max-width: 200px;
        min-height: 200px;
    }
    .heading-div{
        max-width: 820px;
        /* margin-top: 70px; */
    }
    .about-text-area-project{
        max-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;        
    }
}

@media only screen and (width <= 850px){
    .about{
        min-height: 790px;
    }
    .about-left,.about-right{
        max-width: 350px;
        /* min-height: 870px; */
    }
    .about-text-area, .about-text-area-Details{
        max-width: 300px;
    }
    .about-left-text-area{
        max-width: fit-content;
    }
    .about-text-area-project{
        max-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;        
    }
    .experince-both-box{
        max-width: 365px;
        min-height: 650px;
    }

    .education-both-box{
        max-width: fit-content;
        min-height: fit-content;
    }
    .education-box{
        max-width: 770px;
    }
    .heading-div{
        max-width: 750px;
    }

    /* .p-box{
        max-width: 100px;  
    }
    .p-box > .image img {
        max-width: 100px;
        min-height: 100px;
    } */
    /* .project-box{
        flex-wrap: wrap;
        min-height: fit-content;
    } */
    .contact-box{
        flex-wrap: wrap;
    }
}

@media only screen and (width <= 770px){
    .about{
    min-height: fit-content;
    flex-wrap: wrap;
    
    }

    .about-left{
        max-width: fit-content;
        min-height: fit-content;
    }
    .about-right, .about-text-area-Details{
        max-width: fit-content;
        min-height: fit-content;
    }
    .about-text-area {
        max-width: fit-content;
    }
    .experince-box{
        flex-wrap: wrap;
    }
    .experince-both-box{
        max-width: fit-content;
        min-height: fit-content;
        margin: 20px 0;
        padding: 0;
    }
    .experince-box-right{
        margin-right: 20px;
    }
    .education-box{
        flex-wrap: wrap;
    }
    .education-both-box{
        max-width: 450px;
        min-height: 250px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-box{
        flex-wrap: wrap;
        min-height: fit-content;
        min-height: 1200px;
    }
    .p-box{
        min-width: 450px;
        min-height: 350px;
    }
    .p-box > .image img {
        min-width: 450px;
        min-height: 300px;
        margin: 20px 0;
    }
    .heading-div{
        max-width: 660px;
    }
}

@media only screen and (width <= 560px){
    .home-left-Text > .text-area{
        max-width: 350px;
    }
}

@media only screen and (width <= 488px){
    .home-left-Text > .text-area{
        max-width: 350px;
       
    }
    .about-left,.about-right{
        max-width: 300px;
    }
    .experince-box{
        max-width: 300px;
    }
    .experince-both-box{
        min-height: 740px;
    }
    .education-both-box{
        max-width: 300px;
    }
    .p-box{
        min-width: 300px;
    }
    .p-box > .image img {
        min-width: 300px;
        min-height: 244px;
        margin: 20px 0;
    }
}

@media only screen and (width <= 300px){
    .home-left-Text > .text-area{
        max-width: 200px;
       
    }
    .about-left,.about-right{
        max-width: 200px;
    }
    .experince-box{
        max-width: 200px;
    }
    .experince-both-box{
        max-width: 200px;
        min-height: 940px;
    }
    .education-both-box{
        max-width: 200px;
    }
    .p-box{
        min-width: 200px;
    }
    .p-box > .image img {
        min-width: 200px;
        min-height: 144px;
        margin: 20px 0;
    }
    .project-box{
        min-height: 1250px;
    }
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif,Arial, Helvetica;
    /* background-color: var(--primary-color); */
}


:root{
    --primary-color: #000000;
    --secondary-color: #FFBD39;
    --tertiary-color: #fff;
    --box-color: #1A1A1A;
    --font-color:#999999;
    --extra-bgcolor: #1A1A1A;
  
}

a{
    text-decoration: none;
}

header{
    width: 100vw;
    height: 80px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    flex-wrap: wrap;
    /* margin-right: 30px; */
    /* margin-top: 15px; */
    width: 900px;
}

.list > ul > li {
    display: inline;
    margin: 8px;
    font-size: 1rem;
    padding: 0 15px;
    
}

.list > ul > li > a{
    color: var(--tertiary-color);
}

.list > ul > li > a:hover,
.list > ul > li > a.active{
    color: var(--secondary-color);
    border-bottom: 2px solid;
    border-bottom-color: var(--secondary-color);
    transition: 0.2s;
}


.logo > a{
    font-size: 1.5rem;
    color: var(--tertiary-color);
    font-weight: 900;
}

.hamburger{
    cursor: pointer;
    display: none;
}
.hamburger div{
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: var(--tertiary-color);
}
/* @media only screen and (max-width:900px){
    header{
        padding: 0 30px;
    }
} */

@media only screen and (max-width:925px){
    header{
        padding: 0 50px 0 30px;
    }
    .hamburger{
        display: block;
    }
    header .list{
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: rgba(0, 0, 0, 0.804);
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ .list{
        left:0;
    }
    header nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header nav ul li a{
        margin: 5px 0;
    }
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100vw;
    /* flex-wrap: wrap; */
    /* background-color: var(--primary-color);
    background-image: url(/images/bg_image.png);
    background-repeat: no-repeat;
    background-position: right 30%;
    background-origin: content-box;
    padding: 0 284px; */
    background-color: var(--primary-color);

    
}

/* .home-right-image{
    width: 600px;
    height: 700px;

} */

.home-left-Text{
    width: 900px;
    height: 700px;
    background-color: var(--primary-color);
    background-image: url(/images/bg_imageN.png);
    background-repeat: no-repeat;
    background-position: right 100%;
    background-origin: content-box;
    /* padding: 0 284px; */
}

.home-left-Text > .text-area{
    margin-top: 200px;
    width: 550px;
    margin-left: 20px;
    
}


.home-left-Text > .text-area > h5{
    color: var(--secondary-color);
    letter-spacing: 0.3rem;
}

.home-left-Text > .text-area > h1{
    color: var(--secondary-color);
    font-size: 4rem;
    margin: 20px 0;
}

.home-left-Text > .text-area > h1 >span{
    color: var(--tertiary-color);
}

.home-left-Text > .text-area > h2{
    color: var(--tertiary-color);
}
.text-area > button > a{
    color: inherit;
    background-color: inherit;
    font-weight: 600;
    letter-spacing: 0.1rem;
}
.text-area > button{
    background-color: var(--secondary-color);
    padding: 15px 20px;
    border-radius: 50px;
    margin: 30px 5px 30px 0;
    color: var(--primary-color);
}

.text-area > button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    padding: 17px 22px;
    cursor: pointer;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100vw;
    /* flex-wrap: wrap; */
    background-color: var(--primary-color);
}

.about-left{
    /* width: 650px; */
    width: 450px;
    height: fit-content;
    padding: 20px 0;
    /* padding-left: 30px; */
}

.about-right{
    width: fit-content;
    height: fit-content;
    margin-left: 0;
    padding-top: 13px;
    padding-left: 35px;
}

.about-left-text-area{
    width: 450px;
    /* margin-left: 33%; */
}

.about-first{
    display: flex;
    /* justify-content: left;
    align-items: center; */
    width: 100%;
}
.about-first-image > img{
    /* height: 170px; */
    width: 100%;
    border-radius: 50%;
    border: 0.3rem solid var(--tertiary-color);
}

.about-first-image{
    display: inline-block;
    position: relative;
    /* padding: 0 15px; */
    width: 40%;
    
}

.about-first-text{
    display: inline-block;
    color: var(--font-color);
    /* margin-right: 80px; */
    position: relative;
    padding: 0 0 0 15px;

    width: 60%;

}

.about-first-text > p{
    margin: 0 0 16px
}

.about-second{
    color: var(--font-color);
}

.about-second h3{
    letter-spacing: 0.3rem;
    
}
.about-second .box{
    margin: 10px 0;
}

.about-second .box h4{
    margin: 10px 0;
    letter-spacing: 0.2rem;
    font-weight: 500;
}

.about-second .box .percent{
    background-color: var(--font-color);
    width: 100%;
    height: 15px;
    border-radius: 20px;
    position: relative;
}

.about-second .box .percent div{
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--secondary-color);
}

.about-text-area{
    width: 450px;
    /* padding-right: 75%; */
    
}

.about-text-area h1{
    color: var(--tertiary-color);
    font-size: 2rem;
    /* margin: 0px 0 0 0; */
    letter-spacing: 0.3rem;
}

.about-text-area p{
    color: var(--font-color);
    font-size: 1rem;
    /* word-wrap: break-word; */
    line-height: 1.8;
}
.about-text-area-Details>ul{
    list-style: inside;
}
.about-text-area-Details>ul>li{
    margin: 20px 0;
}
.about-text-area-Details>ul>li span:first-child{
    color: var(--tertiary-color);
    display: inline-block;
    width: 130px;
    
}
.about-text-area-Details>ul>li span:last-child{
    color: var(--font-color);
    
}


.about-text-area-project > p span:first-child{
    color: var(--secondary-color);
}
.about-text-area-project > p span{
    
    color: var(--tertiary-color);
}

.number{
    font-weight: bold;
}

.about-text-area-project > button > a{
    color: inherit;
    background-color: inherit;
    font-weight: 600;
    letter-spacing: 0.1rem;

}
.about-text-area-project > button{
    background-color: var(--secondary-color);
    padding: 15px 20px;
    border-radius: 50px;
    margin: 30px 5px 30px 0;
    color: var(--primary-color);
}

.about-text-area-project > button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    cursor: pointer;
}

.heading{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    
}

.heading-div{
    color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 900px;
    margin-top: 70px;
}

.heading-div > .h1 > h1{
    letter-spacing: 0.3rem;
    font-size: 2rem;
}

.underline{
    margin-top: 8px;
    width: 100%;
    height: 4px;
    background-color: var(--secondary-color);
    opacity: 50%;
}

.experince{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    
}

.experince-box{
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}

.experince-both-box{
    width: 450px;
    height: 500px;
    padding: 30px;
    /* padding: 20px 10px; */
    background-color: var(--extra-bgcolor); 
}

.experince-box-right{
    margin-left: 20px;
    /* padding: 20px 0 0 20px; */
    /* padding-top: 20px;
    padding-left: 20px; */
}

/* .experince-box-left{ */
    /* padding: 20px 0 0 20px; */
    /* padding-top: 20px;
    padding-right:20px; */
/* } */




.experince-box h3{
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.experince-box h2{
    color: var(--tertiary-color);
    margin-bottom: 10px;
    font-size: 1.7rem;

}

.experince-box h4,p,li{
    color: var(--font-color);
    margin-bottom: 10px;

}

.experince-box ul{
    list-style: inside;
}

.education{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    
}

.education-box{
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}

.education-both-box{
    width: 450px;
    height: 200px;
    padding: 3%;
    /* padding: 30px; */
    background-color: var(--extra-bgcolor); 
}

.education-box-right{
    margin-left: 20px;
    /* padding: 20px 0 0 20px; */
    /* padding-top: 20px;
    padding-left: 20px; */
}

/* .education-box-left{ */
    /* padding: 20px 0 0 20px; */
    /* padding-top: 20px;
    padding-right:20px; */
/* } */




.education-box h3{
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.education-box h2{
    color: var(--tertiary-color);
    margin-bottom: 10px;
    font-size: 1.7rem;

}

.education-box h4,p{
    color: var(--font-color);
    margin-bottom: 10px; 
}

.download-cv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.download-cv > button > a{
    color: inherit;
    background-color: inherit;
    letter-spacing: 0.1rem;
}
.download-cv > button{
    font-weight: 800;
    font-size: 1rem;
    background-color: var(--secondary-color);
    padding: 20px 42px;
    border-radius: 50px;
    margin: 20px 5px 20px 0;
    color: var(--primary-color);
}

.download-cv > button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    cursor: pointer;
}

.project-box{
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.p-box{
    width: 250px;
    height: fit-content;
    margin: 0 30px;
}

.p-box > .image img{
    width: 250px;
    height: 200px;
    margin-bottom: 10px;
    object-fit:cover;
    transition: transform 0.3s ease-out;
}

.p-box > .image img:hover{
    overflow: hidden;
    transform: scale(1.1);
    cursor:pointer;

}

.p-box a{
    color: var(--tertiary-color);
}

.p-box a:hover{
    color: var(--secondary-color);
}

.contact-box{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.c-box{
    width: 150px;
    height: fit-content;
    padding: 30px 0;
    margin: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.c-box > .image img{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    object-fit:fill;
    transition: transform 0.3s ease-out;
}

.c-box > .image img:hover{
    overflow: hidden;
    transform: scale(1.1);

}
.c-box h5{
    color: var(--tertiary-color);
}

.c-box a{
    color: var(--secondary-color);
}

.c-box a:hover{
    color: var(--tertiary-color);
}

.c-box .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--font-color);
    width: 100vw;
    padding: 20px;
}

